div {
    display: flex;
}

.header {
    background-color: #80808050;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 150px;
    justify-content: center;
}

.footer {
    background-color: #80808080;
    height: 150px;
    display: flex;
}

.main {
    background-color: rgba(255, 239, 8, 0.3);
    height: 500px;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.mainname {
    align-self: flex-start;
    align-content: center;
    flex-grow: 0;
    margin: 3em;
}

.mainmore {
    flex-direction: column;
}

.more12 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
}

.more {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f4a46070;
    height: 100px;
    flex-basis: 25vw;
    margin: auto;
}

.m1 {
    align-self: center;
}

.m2 {
    align-self: center;
}

.more3 {
    background-color: #f4a46070;
    height: 100px;
    width: 55vw;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.aside {
    background-color: rgba(0, 128, 0, 0.3);
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section {
    margin: auto;
    background-color: #ffffff90;
    width: 10vw;
    padding: 50px;
}