header {
    display: flex;
    flex-direction: row;

}

#logo {
    display: flex;
    padding: 20px;
}

p {
    font-family: 'Red Hat Display', Times, sans-serif;
    font-style: normal;
}

#mainmenu {
    display: flex;
}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    color: #25202F;
    font-family: 'Red Hat Display', Times, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    padding: 20px;
}

.menu:hover {
    color: violet
}

.menupic {
    right: 50px;
    position: absolute;
}

.menupic:hover {
    right: 150px;
    position: absolute;
}

h1,
h2 {
    font-family: 'Red Hat Display', Times, sans-serif;
}

.designer {
    display: flex;
    flex-direction: row;
}

.desintro {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 5%;
}

.despic {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

#hello {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #666666;
    padding: 20px;
    top: 80px;
}

#user-name {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    left: 40px;
}

#user {
    width: 535px;
    height: 622px;
    padding: 20px;
}

p.text {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
    left: 70px;
    top: 100px;
}

.buttontalk1 {

    width: 200px;
    height: 60px;

    background: #8643DC;
    border-radius: 100px;
    font-family: 'Red Hat Display', Times, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.buttontalk1:focus {
    background-color: rgb(250, 9, 250);
}

.part2 {
    display: flex;
    flex-direction: column;
}

h2.services {

    padding-left: 40px;
    width: 246px;
    height: 96px;
    font-family: 'Red Hat Display', Times, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
}

.allservices {
    display: flex;
    flex-direction: row;
    padding: 40px;
}

ul#services-list {
    list-style: none;
}

.logo-services {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.n {
    font-family: 'Red Hat Display', Times, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
    padding-left: 5%;
}

.t {

    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #47444E;
    left: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
}

#lasttext {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #21232D;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sm {
    padding-left: 20px;
    padding-right: 20px;
}